.btn {
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: .25px;
    padding: 6px 12px;
    border: 2px solid transparent;
    border-radius: 6px;
    text-align: center;
    @mixin mediumScreen{
        font-size: 0.8175rem;
         padding: 10px 20px;
    }
    @mixin largeScreen {
        font-size: 0.8375rem;
         padding: 12px 24px;
    }
    
    &__blue {
        color: #FFF;
        background-color: $blue;
        border-color: $blue;
    }
    &__white {
        color: $blue;
        background-color: $white;
        border-color: $white;
    }
}